/* Colours */
$black: #000;
$white: #FDFDFD;
$blue: #54AFAF;
$green: #68D768;
$orange: #FFB77B;
$red: #FF7B7B;
$pink: #FFBDBD;

$light-grey: #C7C7C7;
$grey: #9C9C9C;
$dark-grey: #6E6D6D;
$darkest-grey: #444444;

$cloud-white: #E5E5E5;
$cloud-grey: #F2F2F2;
